<div class="m-5 text-center text-3xl ">本日はどんな瞑想を行いますか？</div>

<div class='mx-2 my-5 flex flex-col items-center'>
  <% @mindfulness_types.each do |mindfulness_type| %>
    <div class="m-5 card card-side shadow-xl w-full max-w-4xl">
      <figure><%= image_tag 'mindfulness_woman.jpg', class: "w-56 min-h-full opacity-50"%></figure>
      <div class="card-body w-2">
        <h2 class="card-title">
          <%= mindfulness_type.name %>
          <%#= image_tag mindfulness_type.icon, class: "m-1 w-6 mix-blend-multiply"%>
        </h2>
        <p><%= mindfulness_type.description %></p>
        <div class="card-actions justify-end">
          <%= link_to 'TRY', new_mindful_path(mindfulness_type_id: mindfulness_type.id), class: 'btn btn-secondary w-20' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="m-5 card card-side shadow-xl w-full max-w-4xl">
    <figure><%= image_tag 'mindfulness_woman.jpg', class: "w-56 min-h-full opacity-50"%></figure>
    <div class="card-body w-56 overflow-hidden">
      <div  class="mt-3 mr-3 p-1 bg-yellow-500 origin-top float-right text-center" style="transform:translateX(50%) rotate(45deg);" >
        <div class="">Comming Soon</div>
      </div>
      <h2 class="card-title">
        マハーサーティ瞑想
        <%#= image_tag 'mindfulness_types/icon_yoga.jpg', class: "m-1 w-6 mix-blend-multiply"%>
      </h2>
      <p> 体を動かしながら行う瞑想法です。動きを通して、感覚の変化を大いに感じましょう。</p>
      <div class="card-actions justify-end">
        <%= link_to 'TRY', "#", class: 'btn btn-secondary w-20' %>
      </div>
    </div>
  </div>

  <div class="m-5 card card-side shadow-xl w-full max-w-4xl">
    <figure><%= image_tag 'mindfulness_woman.jpg', class: "w-56 min-h-full opacity-50"%></figure>
    <div class="card-body w-56 overflow-hidden">
      <div  class="mt-3 mr-3 p-1 bg-yellow-500 origin-top float-right text-center" style="transform:translateX(50%) rotate(45deg);" >
        <div class="">Comming Soon</div>
      </div>
      <h2 class="card-title">
        マインドフルネスストレス低減法（MBSR）
      </h2>
      <p> 
        慢性的な痛みやストレスを抱える人に向けて開発された８週間にわたる瞑想プログラムです。
        今日では、世界中の医療機関、福利厚生機関、教育機関、会社経営の現場等で、広く利活用されています。 
      </p>
      <div class="card-actions justify-end">
        <%= link_to 'TRY', "#", class: 'btn btn-secondary w-20' %>
      </div>
    </div>
  </div>
</div>