
瞑想実績

合計日数：<%= current_user.cal_total_date %>
<br>
合計時間    <%= current_user.cal_total_time / 60 / 60 / 24%>日
          <%= current_user.cal_total_time / 60 / 60 %>時間
          <%= current_user.cal_total_time / 60 %>分
<br>
現在の連続日数：<%= current_user.cal_consecutive_days %>日
<br>
あなたのランク：
<br>

<%= month_calendar events: @mindfuls do |date, mindfuls| %>
  <%= date.day %>
  <% mindfuls.each do |mindful| %>
    <div><%= mindful.time/60 %>分</div>
  <% end %>
<% end %>