<div class="m-5 flex flex-col items-center">

  <div class='m-3 text-3xl'> あなたの瞑想記録 </div>

  <div class='m-3 text-2xl'> 
    実施日数：<%= current_user.cal_total_date %>d
  </div>

  <div class="collapse collapse-arrow">
    <input type="checkbox" />
    <div class="collapse-title text-2xl">
      合計時間：
      <%= current_user.cal_total_time[0] %>d
      <%= current_user.cal_total_time[1] %>h
      <%= current_user.cal_total_time[2] %>m
    </div>
    <div class="collapse-content"> 
      <table class="table">
        <tbody>
          <% current_user.cal_time_each_mindfulness_type.each do |k, v| %>
            <tr>
              <td> <%= k %> </td>
              <td>: <%= v/24/60/60 %>d <%= v/60/60 %>h </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

 <div class="collapse">
    <input type="checkbox" />
    <div class="collapse-title text-2xl text-center">
      あなたのランク：〇〇〇〇
      <i class="pl-5 fa-solid fa-question"></i>
    </div>
    <div class="collapse-content"> 
      <table class="table">
        <thead>
          <tr>
            <th>名称</th>
            <th>説明</th>
            <th>目安時間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> vitakka（尋）</td>
            <td> 注意を対象に向けられる状態</td>
            <td> 数時間</td>
          </tr>
          <tr>
            <td> vicaka（伺）</td>
            <td> 持続的に注意を向けられる状態 </td>
            <td> 数十時間</td>
          </tr>
          <tr>
            <td> piti（喜）</td>
            <td> 注意を向けることが自身の喜びとなる状態</td>
            <td> 数百時間</td>
          </tr>
          <tr>
            <td> sukha（楽）</td>
            <td> 静寂と安らぎが訪れている状態</td>
            <td> 数千時間</td>
          </tr>
          <tr>
            <td> Ekaggata（心一境性）</td>
            <td> 心が完全に１点に集中している状態</td>
            <td> 数万時間</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class='mt-6 w-9/12 text-center'>
    <%= month_calendar events: @mindfuls do |date, mindfuls| %>
      <%= date.day %>
      <% mindfuls.each do |mindful| %>
        <%= image_tag mindful.mindfulness_type.icon, class: "m-1 w-8 mix-blend-multiply"%>
      <% end %>
    <% end %>
  </div>

</div>

