<div class="m-5 flex flex-col items-center">
  <div class='m-3 text-3xl'> <%= current_user.name%>さんの瞑想記録 </div>
  <div class='m-3 text-2xl'> 
    実施日数：<%= current_user.cal_total_date %>d
  </div>

  <div class="collapse collapse-arrow">
    <input type="checkbox" />
    <div class="collapse-title text-2xl">
      合計時間：
      <%= current_user.cal_total_time[0] %>d
      <%= current_user.cal_total_time[1] %>h
      <%= current_user.cal_total_time[2] %>m
    </div>
    <div class="collapse-content"> 
      <table class="table">
        <tbody>
          <% current_user.cal_time_each_mindfulness_type.each do |k, v| %>
            <tr>
              <td> <%= k %> </td>
              <td>: <%= v/24/60/60 %>d <%= v/60/60 %>h </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

 <div class="collapse">
    <input type="checkbox" />
    <div class="collapse-title text-2xl text-center">
      現在のランク：<%= current_user.cal_rank %>
      <i class="fa-regular fa-circle-question ml-5"></i>
    </div>
    <div class="collapse-content"> 
      <table class="table">
        <thead class='text-center'>
          <tr>
            <th>ランク</th>
            <th>効果</th>
            <th>目安時間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> 初心者</td>
            <td> リラックス効果、注意力の向上</td>
            <td> 〜30時間</td>
          </tr>
          <tr>
            <td> アマチュア</td>
            <td> 
              立ち直りのスピード向上、集中力の向上、<br>
              共感力の向上 
            </td>
            <td> 〜1,000時間</td>
          </tr>
          <tr>
            <td> プロ</td>
            <td> 
              ストレス反応の大幅な低下、自己コントロール力の大幅な向上、<br>
              共感力の大幅な向上、
            </td>
            <td> 〜10,000時間</td>
          </tr>
          <tr>
            <td> ヨギ</td>
            <td> 
              脳内におけるガンマ波の向上、脳の老化を抑制、<br>
              完全な利他の心の習得、執着・貪欲・自己中心性の縮小<br>
              自己からの解放、悟りの境地へ突入
            </td>
            <td> 10,000時間〜</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class='mt-6 w-full max-w-3xl text-center'>
    <%= month_calendar events: @mindfuls do |date, mindfuls| %>
      <%= date.day %>
      <% mindfuls.each do |mindful| %>
        <% if date == mindful.date %>
          <%= image_tag 'mindfulness_types/icon_buddha.jpg', class: "h-8 m-auto mix-blend-multiply" %>
        <% break %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>

