<div class="m-5 flex flex-col items-center">

  <div class='m-3 text-3xl'> あなたの瞑想記録 </div>

  <div class='m-3 text-2xl'> 
    合計日数：<%= current_user.cal_total_date %> d
  </div>

  <div class='m-3 text-2xl'> 
    合計時間：    
    <%= current_user.cal_total_time[0]%>d
    <%= current_user.cal_total_time[1] %>h
    <%= current_user.cal_total_time[2]%>m
  </div>

  <table class="table">
    <tbody>
      <% current_user.cal_time_each_mindfulness_type.each do |k, v| %>
        <tr>
          <td> <%= k %> </td>
          <td>: <%= v/24/60/60 %>d <%= v/60/60 %>h </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class='m-3 text-2xl'> 
    あなたのランク：
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td> 名称</td>
        <td> 説明</td>
        <td> 目安時間</td>
      </tr>
    </tbody>
  </table>

  
  <%= month_calendar events: @mindfuls do |date, mindfuls| %>
    <%= date.day %>
    <% mindfuls.each do |mindful| %>
      <div><%= mindful.time/60 %>m <%= mindful.mindfulness_type.name %></div>
    <% end %>
  <% end %>

</div>

