<h1>プロフィール編集</h1>
<%= form_with model: @user, url: profile_path, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email%>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>