<div class="my-4 flex flex-col items-center">
  <div class='m-3 text-3xl'>ユーザー登録</div>
  <%= form_with url: signup_path, model: @user, class: 'w-full max-w-xl', local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="m-5 form-control">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'input input-bordered rounded-full', placeholder: "Goudamas Siddhartha"%>
    </div>
    <div class="m-5 form-control">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'input input-bordered rounded-full', placeholder: "goudamas@lumbini.com" %>
    </div>
    <div class="m-5 form-control">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'input input-bordered rounded-full', placeholder: "半角英数字7文字以上でご入力ください"  %>
    </div>
    <div class="m-5 form-control">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'input input-bordered rounded-full', placeholder: "確認のため、もう一度誤入力ください" %>
    </div>
    <div class="m-5 ">
      <%= f.submit 'sign up', class: 'p-0 w-full btn btn-wide btn-secondary rounded-full' %>
    </div>
  <% end %>
  <div class='text-center'>
    <%= link_to 'ログインページへ', login_path, class: 'mx-2 link' %>
  </div>
</div>
