<header class="top-0 left-0 right-0 z-20 bg-[#036635]">
  <nav class="flex px-6 py-4">
    <div class="flex-1">
        <%= link_to 'pramana', menu_path, class: 'text-white' %>
    </div>
    <div class="justify-end">
        <%= link_to 'メニュー', menu_path, class: 'mx-3 text-lg text-white hover:text-gray-300' %>
        <%= link_to "瞑想記録", mindfuls_path, class: 'mx-3 text-lg text-white hover:text-gray-300' %>
        <%= link_to "MY", profile_path, class: 'mx-3 text-lg text-white hover:text-gray-300' %>
        <%= link_to 'ログアウト', logout_path, class: 'mx-3 text-lg text-white hover:text-gray-300', method: :delete %>
    </div>
  </nav>
</header>