<div class="my-4 flex flex-col items-center">
  <div class='m-3 text-3xl'>ログイン</div>
  <%= form_with url: login_path, class: 'w-full max-w-xl', local: true do |f| %>
    <div class="m-5 form-control">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'input input-bordered rounded-full', placeholder: "goudamas@lumbini.com" %>
    </div>
    <div class="m-5 form-control">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'input input-bordered rounded-full', placeholder: "パスワード（7文字以上）" %>
    </div>
    <div class="m-5 ">
      <%= f.submit 'LOGIN', class: 'p-0 w-full btn btn-secondary rounded-full' %>
    </div>
  <% end %>
    <%= link_to 'パスワードをお忘れの方はこちら', '#', class: 'my-2 link' %>
    <%= link_to 'アカウントを作成する', new_user_path, class: 'my-2 link' %>
</div>